<div class="template-container" *ngIf="user">

  <h3>Please enter your zip code for a list of movie theaters in your area.</h3>

  <form [formGroup]="form" ngSubmit="onSubmit(form.value)">
    <mat-form-field class="area-full-width">
      <input matInput placeholder="Zip Code" formControlName="zipcode" required class="form-control">
      <mat-error *ngIf="zipcode.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <div class="button-row">
      <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Submit</button>
    </div>
  </form>




</div>
