.list-container {
    border: 2px solid gray;
    margin: 20px 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.time {
  padding: 5px;
}

.mat-list {
  background: lightgray;
}
