.list-container {
    border: 2px solid gray;
    margin: 20px 0;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.date {
  margin-left: 10px;
}

.mat-list {
  background: lightgray;
}

>>> .mat-badge-content {
  font-size: 13px !important;
}

.badge {
   left: 7px;
}

.badge-votes {
  left: 4px;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.description-wrapper {
  font-size: 14px;
}

.poster-container {
  display: flex;
  margin-left: 1em;
}

.poster-wrapper {
  margin-right: 1em;
}

.ratings-wrapper {
  display: flex;
  flex-direction: row;
}
.ratings-item {
  margin: 0 10px;
}

.ratings-header {
  margin-bottom: 20px;
}

.info {
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}


.info-title {
  font-size: 18px;

}

.flex-line {
  display: flex;
  height: auto !important;
}

.square {
  background: red;
  height: 20px;
  margin-right: 10px;
  width: 20px;

}

.bold {
  font-weight: bold;
}

.short {
  height: 24px !important;
  margin: 5px 0;
}


.field {
  color: grey;
  margin-right: 5px;
}

.no-height {
  height: 0 !important;
}

