  <div class="list-container">
    <mat-list>
      <mat-list-item>
        <h4>{{movie.title | uppercase}}</h4>
        <h6 class="date">({{movie.releaseDate | date: 'yyyy'}})</h6>
      </mat-list-item>
      <app-movie-poster [movie]='movie'></app-movie-poster>
      <mat-list-item>
        <div>
          <div class='info'>
            <div class='square'>
            </div>
            <span class='info-title'>TICKETS & SHOWTIMES</span>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <span>Showtimes for <span class='bold'>today</span> near <span class='bold'> {{zipcode}}</span></span>
      </mat-list-item>
    </mat-list>
    <app-theatre-times *ngFor='let theater of movie.theaters' [theater]='theater' [user]='user'></app-theatre-times>
    <app-movie-info [movie]='movie'></app-movie-info>
  </div>
