<mat-list>
  <mat-list-item>
    <div>
      <div class='info'>
        <div class='square'>
        </div>
        <span class='info-title'>MOVIE INFO</span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item class='flex-line'>
    {{movie.longDescription}}
  </mat-list-item>
  <mat-list-item class='short'>
    <span class='field'>Rating:</span>{{movie.rated}}
  </mat-list-item>
  <mat-list-item class='short'>
    <ul class='genres field'>Genre:
      <li *ngFor='let genre of movie.genres'>{{genre}}</li>
    </ul>
  </mat-list-item>
  <mat-list-item class='short'>
    <span class='field'>Directed by:</span>{{movie.directors}}
  </mat-list-item>
  <mat-list-item class='short'>
    <span class='field'>In Theatres:</span>{{movie.releaseDate | date: 'mediumDate'}}
  </mat-list-item>
  <mat-list-item class='short'>
    <span class='field'>Runtime:</span>{{movie.runTime | duration}}
  </mat-list-item>
  <mat-list-item *ngIf='movie.cast.length'>
    <div>
      <div class='info'>
        <div class='square'>
        </div>
        <span class='info-title'>CAST</span>
      </div>
    </div>
  </mat-list-item>
  <ul class='cast'>
    <li class='box cast-member' *ngFor='let actor of movie.cast'>
      <img class='actor-img' src='{{actor.profile}}' />
      <div class='actor-name'>{{actor.name}}</div>
    </li>
  </ul>
  <mat-list-item>
    <div>
      <div class='info'>
        <div class='square'>
        </div>
        <span class='info-title'>VIDEOS</span>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item>
    <span>Click <span class='link' routerLink="../{{movie.id}}/videos">here</span> for videos</span>
  </mat-list-item>
  <mat-list-item class='no-height'></mat-list-item>
</mat-list>
